.device-content {
    overflow-y: auto;
}

.device-content::-webkit-scrollbar {
    width: 0px;                     
    background: transparent;
}

/* field general css */
#log-edit-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    margin: 40px auto;
}

#log-edit-form .field {
    display: flex;
    width: 100%;  
}

#log-edit-form .field-label {
    display: flex;
    align-items: baseline;
    gap: 8px;
    width: 240px;
    margin-right: 10px;
    font-size: 30px;
}

input[type="text"], input[type="date"], textarea, select {
    background-color: #444;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 42px; 
    width: 290px;
    font-size: 20px;
    color: white;
    padding: 10px 12px;
}

textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
}

/* type field */
.type-button-field {
    display: flex;
    width: 290px;
    gap: 10px;
}

.type-button {
    flex: 1;
    background-color: #444;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.type-button.selected {
    border-color: #5ca65c;
    border: 2px solid #04AA6D;
}

/* note field */
#note.field {
    display: block;
    width: 100%;  
}

#note .field-label {
    display: flex;
    align-items: baseline;
    gap: 8px;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

/* save button */
#save-button {
    align-self: center;
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #689e80;
    color: white;
    font-size: 20px;
}