/* pie chart */
#pie-chart-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pie-chart {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* category rank */
#category-rank-area {
    width: 100%;
    height: 100%;
}

#category-rank-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#category-rank-header img {
    width: 30px;
    height: 30px;
}

#category-rank-body {
    background-color: #484848;
    display: flex;
    flex-direction: column;
}

.category-row {
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.category-rank {
    display: inline-block;
}

.category-row span {
    height: 100%; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-row .category-color {
    width: 50px;
    border-right: 2px solid black;
}

.category-row .category-rank {
    width: 50px;
    border-right: 2px solid black;
}

.category-row .category-name {
    width: 300px;
    border-right: 2px solid black;
}

.category-row .category-amount {
    width: 140px;
}

/* back button */
#back-to-main {
    height: 30px;
    font-size: 25px;
    text-align: right;
    margin-bottom: 5px;
}

/* scroll */
.scroll {
    overflow-y: auto;
    height: 65%;
    padding-bottom: 100px;
}

.scroll::-webkit-scrollbar {
    width: 0px;                     
    background: transparent;
}

/* type buttons */
#type-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px
}

#type-buttons button {
    width: 110px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #484848;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

#type-buttons button.active {
    border: 2px solid #689E80;
}