body {
    text-align: left;
}

/* month selector */
#month-selector {
    justify-content: center;
}

/* sub navbar */
#sub-navbar {
    width: 320px;
    height: 60px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #484646;
    border-radius: 30px;

    font-size: 32px;
    color: white;
    
    display: flex;
    position: absolute;
    align-content: center;
    justify-content: center;
    
    padding: 0;
    margin: 0 auto;
    overflow: hidden; 
}

#sub-navbar a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
    text-align: center; 
    align-content: center;
}

#sub-navbar a.active {
    color: #689e80;
}

#sub-navbar a:hover {
    color: #689e80;
}
