body {
    text-align: left;
}

/* action bar */
#action-bar {
    font-size: 30px;
    margin: 30px 10px 10px 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.action-bar-title {
    position: relative;
    display: flex;
    gap: 7px;
    align-items: center;
}

#drop-down-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: row; 
    gap: 10px;
    z-index: 10;
}

.dropdown-option {
    background-color: #666;
    border-radius: 4px;
    font-size: 24px;
}

.action-bar-icon {
    display: flex;
    gap: 7px;
}

.action-bar-title img {
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
}

.action-bar-icon img {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

/* budget container */
.budget-card,
.saving-card {
    background-color: #636363;
    margin-bottom: 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 7px 20px 10px 20px;
}

.budget-header,
.saving-header {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.budget-title,
.saving-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.status-icon {
    width: 40px;
    height: 40px;
}

.budget-icons,
.saving-icons {
    display: flex;
    gap: 15px;
}

.budget-icons img,
.saving-icons img {
    width: 25px;
    height: 25px;
}

.budget-progress,
.saving-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
}

.budget-progress div,
.saving-progress div {
    border-radius: 20px;
}

.progress-bar {
    width: 100%;
    height: 35px;
    background-color: #cecece;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.budget-progress .progress-fill {
    height: 100%;
    background-color: #FF4136;
}

.saving-progress .progress-fill {
    height: 100%;
    background-color: #689E80;
}

.progress-label {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    right: 8px;
    top: 6px;
    color: white;
    font-weight: bold;
  }

.progress-percent {
    color: black;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.progress-text {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.budget-progress .used-text {
    color: #FF4136;
}

.saving-progress .used-text {
    color: #689E80;
}

.out-of {
    font-size: 15px;
}

.budget-date,
.saving-date {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-row {
    display: flex;
    justify-content: space-between;
}

/* scroll */
.scroll {
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 50px;
    height: 680px;
}

.scroll::-webkit-scrollbar {
    width: 0px;                     
    background: transparent;
}