body {
    text-align: left;
}

/* action bar */
#action-bar {
    font-size: 30px;
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.action-bar-icon {
    display: flex;
    gap: 7px;
}

.action-bar-icon img, 
.budget-card img {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

/* budget container */
.budget-card {
    background-color: #636363;
    margin-bottom: 24px;
    height: 100%; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7px 20px 10px 20px;
}

.budget-header {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.budget-footer {
    display: flex;
    justify-content: right;
}