body {
    text-align: left;
}

/* action bar */
#action-bar {
    font-size: 30px;
    margin: 30px 5px 10px 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.action-bar-title {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
}

.action-bar-icon {
    display: flex;
    gap: 7px;
}

.action-bar-title img {
    width: 25px;
    height: 20px;
    background-color: transparent;
    border: none;
}

.action-bar-icon img {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

/* dropdown */
#dropdown-list {
    display: none;
    flex-direction: row; 
    gap: 10px;
    width: 100px;
}

#dropdown-list.hidden {
    display: flex;
}

.dropdown-option {
    background-color: #666;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 24px;
    padding: 5px 15px;
}

.dropdown-option.selected {
    border: 4px solid #04AA6D;
}

/* budget/saving container */
.budget-card,
.saving-card {
    background-color: #484848;
    margin-bottom: 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 7px 20px 10px 20px;
    position: relative;
}

.budget-header,
.saving-header {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.budget-title,
.saving-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.status-icon {
    width: 40px;
    height: 40px;
}

.budget-icons,
.saving-icons {
    display: flex;
    gap: 15px;
}

.budget-icons img,
.saving-icons img {
    width: 25px;
    height: 25px;
}

.budget-progress,
.saving-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
}

.budget-progress div,
.saving-progress div {
    border-radius: 20px;
}

.progress-bar {
    width: 100%;
    height: 35px;
    background-color: #cecece;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.budget-progress .progress-fill {
    height: 100%;
    background-color: rgb(255, 65, 54, 0.7);
}

.saving-progress .progress-fill {
    height: 100%;
    background-color: #689E80;
}

.progress-label {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    right: 8px;
    top: 6px;
    color: white;
    font-weight: bold;
  }

.progress-percent {
    color: black;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.progress-text {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}

.budget-progress .used-text {
    color: #FFB399;
}

.saving-progress .used-text {
    color: #689E80;
}

.out-of {
    font-size: 15px;
}

.budget-date,
.saving-date {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.date-row {
    display: flex;
    justify-content: space-between;
}

/* delete popup */
.delete-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    border-radius: 15px;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;
    color: white;
    font-size: 18px;
}
  
.delete-popup.hidden {
    display: none;
}

.delete-buttons {
    display: flex;
    gap: 15px;
}

.delete-buttons button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
  }
  
.confirm-delete {
    background-color: #ff7f7f;
    color: black;
}
  
.cancel-delete {
    background-color: #aaa;
    color: black;
}

/* scroll */
.scroll {
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 100px;
    height: 680px;
}

.scroll::-webkit-scrollbar {
    width: 0px;                     
    background: transparent;
}

/* filter popup */
.filter-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 15px;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;
    color: white;
    font-size: 30px;
}
  
.filter-popup.hidden {
    display: none;
}
  
.popup-buttons {
    display: flex;
    gap: 15px;
}
  
.popup-buttons button {
    padding: 8px 20px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
}
  
#confirm-clear-filter {
    background-color: #FF7F7F;
    color: white;
}
  
#cancel-clear-filter {
    background-color: #aaa;
    color: black;
}

#filter.active {
    filter: invert(58%) sepia(18%) saturate(657%) hue-rotate(94deg) brightness(95%) contrast(84%);
}